/* <!--seccion camara--> */

.camera{
    width: 860px;
    height: 548px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    grid-column: 2 / 3;
    grid-row: 2;
    justify-self: center;
    display: none;
}

.camtitle{
    width: 854px;
    height: 24px;
    background-image: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 3px;

}
.camtitle p{
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 5px;
}

.camimg{
    width: 838px;
    height: 440px;
    display: flex;
    align-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    margin: 10px;
}

.camicon{
    display: flex;
    height: 36px;
    align-content: flex-end;
    margin-top: 15px;
}
.icon{
    width: 36px;
    height: 34px;
    background: var(--btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    margin-left: 670px;
}
    
.video{
    width: 1000px;
    height: 434px;
}

.btn_captura{
    display: flex;
    font-family: 'Chakra Petch';
    width: 144px;
    height: 36px;
    align-items: center;
    justify-content: center;
    background: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    margin-right: 20px;
    cursor: pointer;
    color: black;
}

.btn_captura:hover{
    background:  #997D97;
}