
/* <!--seccion crear --> */
.create{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1;
    margin: 50px 0 ;
}

.btn{
    display: flex;
    align-items: center;
    height: 36px;
}

.btn_navbar{
    display: flex;
    font-family: 'Chakra Petch';
    width: 144px;
    height: 36px;
    align-items: center;
    justify-content: center;
    background: var(--btn-color);
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    margin-right: 20px;
    cursor:pointer;
}

.btn_navbar:hover{
    background-color: #997D97;
    border: 1px solid #110038;
    border-style: dotted;
   
}

.icon_open{
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    background: var(--btn-color);
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.icon_open ul{
    list-style: none;
    text-decoration: none;  
}

.icon_open:hover{
    background-color: #997D97;
    border: 1px solid #110038;
    border-style: dotted;
}

.day{
    width: 150px;
    height: 36px;
    margin: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    font-size: 16px;
    color: #110038;
    cursor: pointer;
    font-family: 'Chakra Petch';
}

.day:hover{
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.guifos a{
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: var(--text);
    padding-left: 20px;
    width: auto;
}


.guifos a:hover{
    width: 95px;
    height: 32px;
    border: 1px solid #110038;
    border-style: dotted;

}

.btn_topic{
    display: flex;
    font-family: 'Chakra Petch';
    width: 131px;
    height: 36px;
    align-items: center;
    justify-content: center;
    background: var(--btn-color);
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    cursor:pointer;
    
}

.btn_topic ul{
    list-style: none;   
}

.btn_topic:hover{
    background-color: #997D97;
    border: 1px solid #110038;
    border-style: dotted;

}


.menu {
    width: 167px;
    height: 36px;
    text-align: center;
    padding-top:15px;
}

.submenu{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 172px;
    height: 102px;
    background-color: #E6E6E6;
    visibility: hidden;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    position: relative;
    left: 16px;
}





.submenu li { 
    display: flex;
    flex-direction: column;
    
}

.menu li:hover .submenu{ 
    visibility: visible;
    opacity: 1;

}
