/* <!--seccion respuesta de buscar--> */

.res_search{
    width: 1200px;
    height: 160px;
    background: #E6E6E6;    
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    grid-column: 2 / 3;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
    
}

.res_one{
    display: flex;
    align-items: center;
    width: 1057px;
    height: 36px;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    font-size: 16px;
    color: #110038;
    line-height: 22px;
    text-align: left;
    font-family: 'Chakra Petch';
    margin: 10px;
}


.res_one{
padding-left: 10px;
}


